//Variables

//Breakpoints
$bp-small: 320px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1440px;

/*Colors*/
$Gray: #6C6764;
$LightGray: #CCCCCC;
$DarkGray: #333333;
$Red: #990000;

* {
    box-sizing: border-box;
}

html {

}

header {

}

nav {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    opacity: 0.9;
    padding: 1.25rem;
}

nav > a {
    color: black;
    font-size: 1.25rem;
    margin-right: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

main {

}

section {
    /*margin-left: 2rem;*/
    /*margin-right: 2rem;*/
}

footer {
    margin: 3rem;
    text-align: center;
}

img {
    width: 100%;
}

hr {
    max-width: none;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
    font-family: 'oswald', sans-serif;
}

h1 {
    font-family: 'raleway', serif;
    font-weight: 500;
    margin-bottom: 0;
    opacity: 0.9;
    text-align: center;
}

h2 {
    align-items: center;
    color: $Red;
    display: flex;
    font-family: 'oswald', serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin-top: 5.25rem;
    margin-bottom: 1.8rem;
    text-transform: uppercase;
}

h3 {
    color: $DarkGray;
    line-height: 2;
    margin: 1.5rem 0 1rem 0;
    font-family: 'oswald', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    //text-align: center;
    text-transform: uppercase;
}

h4 {
    align-items: center;
    color: $DarkGray;
    display: flex;
    font-family: 'oswald', serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1.75rem;
    text-transform: uppercase;
}

p {
    line-height: 2;
    margin-top: 0;
    font-family: 'raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

ul {
    font-family: 'raleway', sans-serif;
    line-height: 2;
    list-style: none;
    padding-left: 1.5rem;
}

li {
    font-family: 'raleway', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;

    &:before {
        color: $Red;
        content: "•";
        display: inline-block;
        font-weight: bold;
        width: 1em;
        margin-left: -1em
    }
}

a {
    color: $Gray;

    &:hover {
        color: $DarkGray;
    }
}

footer {
    font-family: 'oswald', sans-serif;
    font-weight: 400;
}

hr {
    margin: 0;
}

//Foundation Overrides

//This will bold the menu items when they are scrolled to the corresponding section. Foundation documentation says the class
//is "active" but it's really "is-active"

//.menu .is-active {
//    font-weight: bold;
//}

.demo-toggle-title {
    margin-top: 0.5rem;
}

.top-bar {
    background-color: white;
    border-bottom: 1px solid $LightGray;

    ul {
        background-color: transparent;
    }
}

.top-bar-left {
    display: flex;
    margin-left: 1rem;
    align-items: center;
}

.menu {

    li {
        &:before {
            display: none;
        }
    }
    a {
        color: black;
        font-weight: 500;
        text-transform: uppercase;
    }
}

//Font Awesome Overrides
.fa-2x {

    font-size: 3em;

    &:hover {
        color: $Red;
    }

    &:active {
        color: $Red;
    }
}

//Custom Styles

//Reference:  https://css-tricks.com/snippets/css/typewriter-effect/
//.Typewriter {
//    display: flex;
//    margin: 1rem auto;
//
//    .Typewriter__Content {
//        overflow: hidden; /* Ensures the content is not revealed until the animation */
//        border-right: .1em solid; /* The typwriter cursor */
//        white-space: nowrap; /* Keeps the content on a single line */
//        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
//        letter-spacing: .12em; /* Adjust as needed */
//        animation: typing 3s steps(20, end),
//        blink-caret .75s step-end 5;
//        font-weight: bold;
//    }
//}
//
///* The typing effect */
//@keyframes typing {
//    from { width: 0 }
//    to { width: 100% }
//}
//
///* The typewriter cursor effect */
//@keyframes blink-caret {
//    from, to { border-color: transparent }
//    50% { border-color: inherit; }
//}


.AnimateLink {

    &:after {
        display: block;
        content: '';
        border-bottom: solid 2px $Red;
        padding-top: 3px;
        transform: scaleX(0);
        transition: transform 300ms ease-in-out;
        transform-origin: 0% 50%;;
    }
    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }
}

.Splash {
    align-items: center;
    color: $DarkGray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;

    @media screen and (min-width: $bp-large) {
        padding: 9rem 0;
    }

    &__Background {
        background: center center
        url(../images/splash-3.png);

    }

    &__Title {
        font-family: 'oswald', sans-serif;
        font-size: 3.1rem;
        font-weight: 400;
        margin: 2rem 0 2rem 0;
    }

    &__Subtitle {
        font-family: 'oswald', sans-serif;
        font-size: 1.75rem;
        font-weight: 500;
        margin: 0 3rem 1rem 3rem;
    }

    &__Opener {
        font-size: 2rem;
        font-weight: 500;
        margin-top: 1rem;
        text-transform: uppercase;
    }
}

.PictureFrame {
    border: 1px solid $LightGray;
}

.SupportIcon {
    fill: currentcolor;
    margin: 0 1.1rem 0 0;
    stroke: currentcolor;
    width: 2.2rem;

    &--Flipped {
        transform: scaleX(-1);
    }

    &--Rotated45 {
        transform: rotate(45deg);
    }

}

.ListHeading {
    margin: 0 0 2rem 0;
    text-align: center;
}

//Utilities

//Margins
.MarginBottom {

    &--1 {
        margin-bottom: 1rem;
    }

    &--2 {
        margin-bottom: 2rem;
    }

    &--4 {
        margin-bottom: 4rem;
    }

}

//Font Weights
.Weight {
    &--Fine {
        font-weight: 400;
    }

    &--Medium {
        font-weight: 500;
    }
}

.AccentUnderline {
    border-bottom: 2px solid $Red;
}