//Variables

//Breakpoints
$bp-small: 320px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1440px;

/*Colors*/
$Gray: #6C6764;
$LightGray: #CCCCCC;
$DarkGray: #333333;

* {
    box-sizing: border-box;
}

html {

    @media screen and (min-width: $bp-medium) {
        border: $DarkGray solid 0.5rem;
    }

}

header {

}

nav {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    opacity: 0.9;
    padding: 1.25rem;
}

nav > a {
    color: black;
    font-size: 1.25rem;
    margin-right: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

main {

}

section {
    /*margin-left: 2rem;*/
    /*margin-right: 2rem;*/
}

footer {
    margin: 3rem;
    text-align: center;
}

img {
    width: 100%;
}

hr {
    max-width: none;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    margin-bottom: 0;
    opacity: 0.9;
    text-align: center;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

h3 {
    line-height: 2;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    line-height: 2;
    margin-top: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}

ul {
    line-height: 2;
    padding-left: 1.5rem;
}

li {
    font-size: 1.25rem;
    font-weight: 300;
}

a {
    color: $Gray;

    &:hover {
        color: $DarkGray;
    }
}

footer {
    font-weight: 300;
}

hr {
    margin: 0;
}

//Foundation Overrides

//This will bold the menu items when they are scrolled to the corresponding section. Foundation documentation says the class
//is "active" but it's really "is-active"

//.menu .is-active {
//    font-weight: bold;
//}

.demo-toggle-title {
    margin-top: 0.5rem;
}

.top-bar {
    background-color: white;
    border-bottom: 1px solid $LightGray;
    border-top: 1px solid $LightGray;

    ul {
        background-color: transparent;
    }
}

.top-bar-left {
    display: flex;
    margin-left: 1rem;
    align-items: center;
}

.menu {
    a {
        color: black;
        font-weight: 500;
        text-transform: uppercase;
    }
}


//Custom Styles

//Reference:  https://css-tricks.com/snippets/css/typewriter-effect/
.typewriter {
    margin: auto;

    .typewriter--content {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .1em solid; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .12em; /* Adjust as needed */
        animation: typing 3s steps(20, end),
        blink-caret .75s step-end 5;
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: inherit; }
}


.AnimateLink {

    &:after {
        display: block;
        content: '';
        border-bottom: solid 2px $DarkGray;
        padding-top: 3px;
        transform: scaleX(0);
        transition: transform 300ms ease-in-out;
        transform-origin: 0% 50%;;
    }
    &:hover {
        &:after {
            transform: scaleX(1);
        }
    }
}

.Splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10rem 0;
    text-align: center;

    &__Title {
        font-family: 'Quicksand', sans-serif;
        font-size: 2.5rem;
        font-weight: 400;
    }

    &__Opener {
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 2rem;
        margin-top: 1rem;
        text-transform: uppercase;
    }
}

.PictureFrame {
    border: 1px solid $LightGray;
}

//Utilities

//Margins
.MarginBottom {

    &--1 {
        margin-bottom: 1rem;
    }

    &--2 {
        margin-bottom: 2rem;
    }

    &--4 {
        margin-bottom: 4rem;
    }

}

//Font Weights
.Weight {
    &--Fine {
        font-weight: 300;
    }
}