//Variables

//Breakpoints
$bp-small: 320px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1440px;

/*Colors*/
$Gray: #6C6764;
$LightGray: #cacaca;



* {
    box-sizing: border-box;
}

header {

}

nav {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    opacity: 0.9;
    padding: 1.25rem;
}

nav > a {
    color: black;
    font-size: 1.25rem;
    margin-right: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

main {

}

section {
    /*margin-left: 2rem;*/
    /*margin-right: 2rem;*/
}

footer {
    margin: 3rem;
    text-align: center;
}

img {
    width: 100%;
}

hr {
    max-width: none;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li {
    font-family: 'Quicksand', sans-serif
}

h1 {
    font-size: 3.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 6rem;
    opacity: 0.9;
    text-align: center;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}

p {
    line-height: 1.25;
    margin-top: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
}

ul {
    line-height: 1.5;
    padding-left: 1.5rem;
}

li {
    font-size: 1.25rem;
}

//Foundation Overrides

//This will bold the menu items when they are scrolled to the corresponding section. Foundation documentation says the class
//is "active" but it's really "is-active"

//.menu .is-active {
//    font-weight: bold;
//}

.demo-toggle-title {
    margin-top: 0.5rem;
}

.menu {
    a {
        color: black;
        font-weight: bold;
    }
}



//Custom Styles
.PictureFrame {
    border: 3px solid $Gray;
}


//Utilities

//Margins
.MarginBottom {

    &--1 {
        margin-bottom: 1rem;
    }

    &--4 {
        margin-bottom: 4rem;
    }

}

//Font Weights
.Weight {
    &--Fine {
        font-weight:300;
    }
}