/*Colors*/
* {
  box-sizing: border-box; }

nav {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  opacity: 0.9;
  padding: 1.25rem; }

nav > a {
  color: black;
  font-size: 1.25rem;
  margin-right: 1.5rem;
  text-decoration: none;
  text-transform: uppercase; }

section {
  /*margin-left: 2rem;*/
  /*margin-right: 2rem;*/ }

footer {
  margin: 3rem;
  text-align: center; }

img {
  width: 100%; }

hr {
  max-width: none; }

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  font-family: 'Quicksand', sans-serif; }

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  margin-bottom: 0;
  opacity: 0.9;
  text-align: center; }

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-transform: uppercase; }

h3 {
  line-height: 2;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase; }

p {
  line-height: 2;
  margin-top: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25rem;
  font-weight: 300; }

ul {
  line-height: 2;
  padding-left: 1.5rem; }

li {
  font-size: 1.25rem;
  font-weight: 300; }

a {
  color: #6C6764; }
  a:hover {
    color: #333333; }

footer {
  font-weight: 300; }

hr {
  margin: 0; }

.demo-toggle-title {
  margin-top: 0.5rem; }

.top-bar {
  background-color: white;
  border-bottom: 1px solid #CCCCCC; }
  .top-bar ul {
    background-color: transparent; }

.top-bar-left {
  display: flex;
  margin-left: 1rem;
  align-items: center; }

.menu a {
  color: black;
  font-weight: 500;
  text-transform: uppercase; }

.Typewriter {
  display: flex;
  margin: 1rem auto; }
  .Typewriter .Typewriter__Content {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .1em solid;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .12em;
    /* Adjust as needed */
    animation: typing 3s steps(20, end), blink-caret 0.75s step-end 5; }

/* The typing effect */
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: inherit; } }

.AnimateLink:after {
  display: block;
  content: '';
  border-bottom: solid 2px #333333;
  padding-top: 3px;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 0% 50%; }

.AnimateLink:hover:after {
  transform: scaleX(1); }

.Splash {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
  text-shadow: 1px 1px #333333; }
  @media screen and (min-width: 1024px) {
    .Splash {
      padding: 10rem 0; } }
  .Splash__Background {
    background: center center no-repeat linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/splash-3.jpg); }
    @media screen and (min-width: 1024px) {
      .Splash__Background {
        background-size: 100%; } }
  .Splash__Title {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.5rem;
    font-weight: 500; }
  .Splash__Opener {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-transform: uppercase; }

.PictureFrame {
  border: 1px solid #CCCCCC; }

.MarginBottom--1 {
  margin-bottom: 1rem; }

.MarginBottom--2 {
  margin-bottom: 2rem; }

.MarginBottom--4 {
  margin-bottom: 4rem; }

.Weight--Fine {
  font-weight: 300; }
