/*Colors*/
* {
  box-sizing: border-box; }

nav {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  opacity: 0.9;
  padding: 1.25rem; }

nav > a {
  color: black;
  font-size: 1.25rem;
  margin-right: 1.5rem;
  text-decoration: none;
  text-transform: uppercase; }

section {
  /*margin-left: 2rem;*/
  /*margin-right: 2rem;*/ }

footer {
  margin: 3rem;
  text-align: center; }

img {
  width: 100%; }

hr {
  max-width: none; }

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  font-family: 'Quicksand', sans-serif; }

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  margin-bottom: 0;
  opacity: 0.9;
  text-align: center; }

h2 {
  align-items: center;
  color: #990000;
  display: flex;
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase; }

h3 {
  line-height: 2;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase; }

p {
  line-height: 2;
  margin-top: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25rem;
  font-weight: 400; }

ul {
  line-height: 2;
  padding-left: 1.5rem; }

li {
  font-size: 1.25rem;
  font-weight: 400; }

a {
  color: #6C6764; }
  a:hover {
    color: #333333; }

footer {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400; }

hr {
  margin: 0; }

.demo-toggle-title {
  margin-top: 0.5rem; }

.top-bar {
  background-color: white;
  border-bottom: 1px solid #CCCCCC; }
  .top-bar ul {
    background-color: transparent; }

.top-bar-left {
  display: flex;
  margin-left: 1rem;
  align-items: center; }

.menu a {
  color: black;
  font-weight: 500;
  text-transform: uppercase; }

.fa-2x:hover {
  color: #990000; }

.fa-2x:active {
  color: #990000; }

.AnimateLink:after {
  display: block;
  content: '';
  border-bottom: solid 2px #990000;
  padding-top: 3px;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  transform-origin: 0% 50%; }

.AnimateLink:hover:after {
  transform: scaleX(1); }

.Splash {
  align-items: center;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0; }
  @media screen and (min-width: 1024px) {
    .Splash {
      padding: 9rem 0; } }
  .Splash__Background {
    background: center center url(../images/splash-3.png); }
  .Splash__Title {
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    margin: 2rem 0 2rem 0; }
  .Splash__Subtitle {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
    margin: 0 3rem 1rem 3rem; }
  .Splash__Opener {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 1rem;
    text-transform: uppercase; }

.PictureFrame {
  border: 1px solid #CCCCCC; }

.SupportIcon {
  fill: currentcolor;
  margin: 0 1rem 0 0;
  stroke: currentcolor;
  width: 2.5rem; }

.MarginBottom--1 {
  margin-bottom: 1rem; }

.MarginBottom--2 {
  margin-bottom: 2rem; }

.MarginBottom--4 {
  margin-bottom: 4rem; }

.Weight--Fine {
  font-weight: 400; }

.Weight--Medium {
  font-weight: 500; }

.AccentUnderline {
  border-bottom: 2px solid #990000; }
