/*Colors*/
* {
  box-sizing: border-box; }

@media screen and (min-width: 768px) {
  html {
    border: #6C6764 solid 0.5rem; } }

nav {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  opacity: 0.9;
  padding: 1.25rem; }

nav > a {
  color: black;
  font-size: 1.25rem;
  margin-right: 1.5rem;
  text-decoration: none;
  text-transform: uppercase; }

section {
  /*margin-left: 2rem;*/
  /*margin-right: 2rem;*/ }

footer {
  margin: 3rem;
  text-align: center; }

img {
  width: 100%; }

hr {
  max-width: none; }

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  font-family: 'Quicksand', sans-serif; }

h1 {
  font-size: 2.5rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  margin-bottom: 0;
  opacity: 0.9;
  text-align: center; }

h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase; }

h3 {
  line-height: 2;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase; }

p {
  line-height: 2;
  margin-top: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25rem;
  font-weight: 300; }

ul {
  line-height: 2;
  padding-left: 1.5rem; }

li {
  font-size: 1.25rem;
  font-weight: 300; }

a {
  color: #6C6764; }

footer {
  font-weight: 300; }

hr {
  margin: 0; }

.demo-toggle-title {
  margin-top: 0.5rem; }

.top-bar {
  background-color: #CCCCCC; }
  .top-bar ul {
    background-color: transparent; }

.menu a {
  color: black;
  font-weight: 500; }

.Splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 0;
  text-align: center; }
  .Splash__Title {
    font-size: 3rem;
    text-transform: uppercase; }
  .Splash__Subtitle {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0;
    margin-top: 1rem; }

.MarginBottom--1 {
  margin-bottom: 1rem; }

.MarginBottom--4 {
  margin-bottom: 4rem; }

.Weight--Fine {
  font-weight: 300; }
